<div style="padding-bottom: 20px;">
<!-- Monday -->
<div style="margin: 10px 20px 10px 20px;">
    <h2>Monday - Chest with Triceps</h2>
    <div style="display: flex;flex-direction: row;column-gap: 20px;">
        <mat-card *ngFor="let item of monworkouts">
            <div style="display: flex;flex-direction: column;">
                {{item.name}}
                <img src="{{item.src}}" alt="pushups" style="width: 140px;height: 140px;">
    
            </div>
        
    </mat-card>
    </div>


</div>

<!-- Tuesday -->
<div style="margin: 10px 20px 10px 20px;">
    <h2>Tuesday - Back with Biceps</h2>
    <div style="display: flex;flex-direction: row;column-gap: 20px;">
        <mat-card *ngFor="let item of tueworkouts">
            <div style="display: flex;flex-direction: column;">
                {{item.name}}
                <img src="{{item.src}}" alt="pushups" style="width: 140px;height: 140px;">
    
            </div>
        
    </mat-card>
    </div>


</div>

<div style="margin: 10px 20px 10px 20px;">
    <h2>Wednesday - Shoulder</h2>
    <div style="display: flex;flex-direction: row;column-gap: 20px;">
        <mat-card *ngFor="let item of wedworkouts">
            <div style="display: flex;flex-direction: column;">
                {{item.name}}
                <img src="{{item.src}}" alt="pushups" style="width: 140px;height: 140px;">
    
            </div>
        
    </mat-card>
    </div>


</div>

<div style="margin: 10px 20px 10px 20px;">
    <h2>Thursday - Legs</h2>
    <div style="display: flex;flex-direction: row;column-gap: 20px;">
        <mat-card *ngFor="let item of thuworkouts">
            <div style="display: flex;flex-direction: column;">
                {{item.name}}
                <img src="{{item.src}}" alt="pushups" style="width: 140px;height: 140px;">
    
            </div>
        
    </mat-card>
    </div>


</div>

<div style="margin: 10px 20px 10px 20px;">
    <h2>Friday - Chest with Triceps</h2>
    <div style="display: flex;flex-direction: row;column-gap: 20px;">
        <mat-card *ngFor="let item of friworkouts">
            <div style="display: flex;flex-direction: column;">
                {{item.name}}
                <img src="{{item.src}}" alt="pushups" style="width: 140px;height: 140px;">
    
            </div>
        
    </mat-card>
    </div>


</div>

<div style="margin: 10px 20px 10px 20px;">
    <h2>Saturday - Back with Biceps</h2>
    <div style="display: flex;flex-direction: row;column-gap: 20px;">
        <mat-card *ngFor="let item of satworkouts">
            <div style="display: flex;flex-direction: column;">
                {{item.name}}
                <img src="{{item.src}}" alt="pushups" style="width: 140px;height: 140px;">
    
            </div>
        
    </mat-card>
    </div>


</div>
</div>
